name: Sandbox K8S E2E Tests

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'kubernetes/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: '1.24'

jobs:
  e2e-k8s:
    name: E2E Tests (K8s v${{ matrix.k8s-version }})
    strategy:
      fail-fast: false
      matrix:
        k8s-version: ["1.22.4", "1.24.4", "1.26.4", "1.28.6", "1.30.4", "1.32.2", "1.34.2"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run tests
        run: |
          cd kubernetes
          make test-e2e KIND_K8S_VERSION=v${{ matrix.k8s-version }}